body{
    font-family: Arial, sans-serif;
    background: #f6f2ff;
}

/* HERO GRANDE */
.hero{
    height: 80vh;
    background: linear-gradient(135deg, #000000, #5e3a87);
}

/* TITULOS */
h2{
    font-weight: bold;
    color: #4a2c6b;
}

/* CARDS */
.card:hover{
    transform: translateY(-8px);
    transition: 0.3s;
}

/* IMAGENES */
img{
    max-width: 100%;
}

/* RESPONSIVE */
@media (max-width: 768px){

    .hero h1{
        font-size: 32px;
    }

    .hero{
        height: 60vh;
    }
}